@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()



        <a class="dropdown-item" href="@Url.Action("Index", "Manage")"><span class="glyphicon glyphicon-user"></span>Account</a>
        

        <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()">Log off <i class="fa fa-sign-out" aria-hidden="true"></i></a>



    }


}
else
{



    <a class="dropdown-item" href="@Url.Action("Register", "Account")"><span class="glyphicon glyphicon-user"></span> Register</a>
    <a class="dropdown-item" href="@Url.Action("Login", "Account")"><span class="glyphicon glyphicon-log-in"></span> Log in</a>


}
